.profile {
    margin: 0 auto 0 auto;
    min-height: 626px;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile {
        min-height: 920px;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        min-height: 706px;
    }
}

.profile__title {
    margin-top: 71px;
    margin-bottom: 106px;
    padding-left: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .profile__title {
        margin-top: 233px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 320px) {
    .profile__title {
        margin-top: 70px;
        margin-bottom: 80px;
    }
}

.profile__container {
    display: flex;
    justify-content: space-between;
    border-bottom: #424242 1px solid;
    min-width: 410px;
    min-height: 47px;;
}

.profile__container:last-of-type {
    border: none;
}

@media screen and (max-width: 480px) {
    .profile__container {
        min-width: 260px;
    }
}

.profile__text {
    margin-top: 17px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__link {
    margin-top: 204px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.profile__link:hover {
    transition: 1s ease-in;
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .profile__link {
        margin-top: 194px;
    }
}

@media screen and (max-width: 480px) {
    .profile__link {
        margin-top: 379px;
        font-size: 12px;
        line-height: 15px;
    }
}

.profile__link_changed-color {
    margin-top: 16px;
    margin-bottom: 70px;
    font-weight: 500;
    color: #EE3465;
}

@media screen and (max-width: 480px) {
    .profile__link_changed-color {
        margin-bottom: 40px;
    }
}