.nav-profile-btn {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  min-height: 32px;
  min-width: 100px;
  border-radius: 15px;
  background-color: #F9F9F9;
}

.nav-profile-btn_is-close {
  display: none;
}

.nav-profile-btn-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.nav-profile-btn:hover {
  transition: 1s ease-in;
  opacity: 0.6;
}

.nav-profile-btn__text {
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .nav-profile-btn {
      display: none;
  }
}

.nav-profile-btn__display_open {
  display: block;
  margin-top: 593px;
}

@media screen and (max-width: 768px) {
  .nav-profile-btn__display_open {
    margin-top: 415px;
  }
}

.nav-profile-menu {
  padding: 0;
  margin: 0;
  height: 44px;
  width: 44px;
  background-color: #fff;
  background-image: url('../../images/header-nav__menu-button.svg');
  background-position: center;
  border: none;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-profile-menu {
      display: inline-block;
  }
}

@media screen and (max-width: 400px) {
  .nav-profile-menu {
    width: 35px;
    height: 35px;
    background-size: cover;
  }
}