.authorization {
    margin: 0 auto 0 auto;
    max-width: 1280px;
    min-height: 266px;
    color: #000;
}

@media screen and (max-width: 768px) {
    .authorization {
        max-width: 768px;
    }
}

.authorization__header {
    margin: 0 auto 0 auto;
    max-width: 1280px;
    min-height: 217px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .authorization__header {
        min-height: 379px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__header {
        min-height: 253px;
    }
}

.authorization__header-container {
    min-width: 396px;
}

@media screen and (max-width: 480px) {
    .authorization__header-container {
        min-width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.authorization__logo-container {
    margin-top: 70px;
    max-width: 38px;
    min-height: 38px;
}

@media screen and (max-width: 768px) {
    .authorization__logo-container {
        margin-top: 232px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__logo-container {
        margin: 56px auto 0 auto;
    }
}

.authorization__text {
    margin: 40px 0 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.authorization__container {
    margin: 0 auto 0 auto;
    max-width: 396px;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 480px) {
    .authorization__container {
        max-width: 260px;
    }
}

.authorization__name {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.authorization__input {
    min-width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    outline: none;
}

.authorization__part-form {
    border-bottom: #E8E8E8 1px solid;
}

.authorization__part-form:has(input:focus) {
    border-bottom: #4285F4 1px solid;   
  }

.authorization__validation-text {
    margin: 6px 0 6px 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color:#FF3055;
}

.authorization__validation-text:last-of-type {
    margin-bottom: 0;
}

.authorization__confirm {
    margin: 0 auto 0 auto;
    min-height: 217px;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .authorization__confirm {
        max-width: 768px;
        min-height: 379px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__confirm {
        max-width: 320px;
        min-height: 261px;
    }
}

.authorization__confirm-button {
    margin: 69px 0 0 0;
    padding-left: 125px;
    padding-right: 125px;
    min-width: 396px;
    min-height: 45px;
    text-align: center;
    background-color: #3456F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
}

.authorization__confirm-button-login {
    margin-top: 138px;
}

.authorization__confirm-button:hover {
    transition: 1s ease-in;
    opacity: .6;
}

@media screen and (max-width: 480px) {
    .authorization__confirm-button {
        min-width: 260px;
        margin-top: 157px;
        padding-left: 68px;
        padding-right: 68px;
        font-size: 12px;
        line-height: 15px;
    }
    .authorization__confirm-button-login {
        margin-top: 226px;
    }
}

.authorization__confirm-container {
    margin: 16px auto 70px auto;
    min-height: 17px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

@media screen and (max-width: 480px) {
    .authorization__confirm-container {
        margin: 14px auto 30px auto;
    }
}

.authorization__confirm-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
}

@media screen and (max-width: 480px) {
    .authorization__confirm-text {
        font-size: 12px;
        line-height: 15px;
    }
}

.authorization__confirm-link {
    margin: 0 0 0 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: 
    #3456F3;
    cursor: pointer;
    text-decoration: none;
}

.authorization__confirm-link:hover {
    transition: 1s ease-in;
    opacity: .6;
}

@media screen and (max-width: 480px) {
    .authorization__confirm-text {
        font-size: 12px;
        line-height: 15px;
    }
}