.header {
  margin: 0px auto 0px;
  padding: 0px 70px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  min-height: 74px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }
}

.header__logo-container {
  display: flex;
  align-items: center;
  margin: 18px 0px 18px 0px;
}

@media screen and (max-width: 768px) {
  .header__logo-container {
    margin-left: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo-container {
    margin-left: 14px;
  }
}
