.footer {
  margin: 79px auto 0 auto;
  padding: 0;
  max-width: 1380px;
  min-height: 56px;
}

.footer__title {
  margin: 79px 70px 0px;
  padding: 0 0 20px 0;
  color: #A0A0A0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  border-bottom: #E8E8E8 1px solid;
}

@media screen and (max-width: 768px) {
  .footer__title {
    margin: 0px 24px 0px 36px;
  }
}

.footer__container {
  margin: 0 5.47vw 0 5.47vw;
  padding: 0;
  max-height: 56px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__container {
    margin: 0px 25px 0px 35px;
  }
}

@media screen and (max-width: 480px) {
  .footer__container {
    margin-top: 52px;
    max-height: 127px;
    flex-direction: column-reverse;
  }
}

.footer__copyring {
  margin: 20px 0 20px 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

@media screen and (max-width: 480px) {
  .footer__copyring {
    margin: 0 0 10px 0;
  }
}

.footer__links {
  margin: 0;
  padding: 0;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .footer__links {
    margin: 0;
    flex-direction: column;
  }
}

.footer__link {
  padding: 0;
  align-self: center;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

.footer__link:hover {
  transition: 1s ease-in;
  opacity: 0.6;
}

.footer__link:last-of-type {
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .footer__link {
    margin: 0 0 12px 0;
  }
  .footer__link:last-of-type {
    margin: 0 0 30px 0;
  }
}
