.scroll-movies-btn {
  margin: 0 auto 0 auto;
  max-width: 1280px;
  min-height: 166px;
  display: flex;
  justify-content: center;
}

.scroll-movies-btn__button {
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 0;
  min-width: 320px;
  min-height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border: #E8E8E8 1px solid;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.scroll-movies-btn__button:hover {
  transition: 1s ease-in;
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .scroll-movies-btn__button {
    margin-top: 80px;
    margin-bottom: 50px;
    min-width: 240px;
  }
}
