.nav-tab {
  margin: 151px 0 0 0;
  padding-bottom: 30px;
  min-height: 39px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .nav-tab {
    margin-top: 315px;
  }
}

@media screen and (max-width: 480px) {
  .nav-tab {
    margin-top: 182px;
    padding-bottom: 17px;
    min-height: 26px;
  }
}

.nav-tab__anchor {
  margin-right: 10px;
}

.nav-tab__anchor:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .nav-tab__anchor {
    margin-right: 6px;
  }
  .nav-tab__anchor:last-of-type {
    margin-right: 0;
  }
}

.nav-tab__button {
  padding: 0;
  min-width: 96px;
  min-height: 36px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: #e8e8e8;
  color: #ffffff;
  cursor: pointer;
}

.nav-tab__button:hover {
  transition: 1s ease-in;
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .nav-tab__button {
    min-width: 82px;
    min-height: 26px;
    font-size: 10px;
    line-height: 16px;
  }
}
